apiVersion: v1
kind: Service
metadata:
  name: wfs-demo
  labels:
    app: wfs-demo
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: wfs-demo
